<mat-toolbar color="primary">
  <span>My App</span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="isUserAuthenticated">
      <button mat-raised-button (click) = "onLogout()">Logout</button>
    </li>
    <li *ngIf="!isUserAuthenticated">
      <a mat-button routerLink = "/login" routerLinkActive="mat-accent">Sign In</a>
    </li>
    <li *ngIf="!isUserAuthenticated">
      <a mat-button routerLink = "/signup" routerLinkActive="mat-accent">Sign Up</a>
    </li>
    <li *ngIf="isUserAuthenticated">
      <a mat-raised-button routerLink = "/" routerLinkActive="mat-accent"><mat-icon>home</mat-icon></a>
    </li>
    <li *ngIf="isUserAuthenticated">
      <a mat-raised-button routerLink = "/notification" routerLinkActive="mat-accent"><mat-icon>notifications</mat-icon></a>
    </li>
    <li *ngIf="isUserAuthenticated">
      <a mat-raised-button routerLink = "/profile" routerLinkActive="mat-accent"><mat-icon>account_circle</mat-icon></a>
    </li>
  </ul>
</mat-toolbar>
