<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card>
  <form [formGroup] = "form" (ngSubmit) = "onLogin()" *ngIf="!isLoading">
    <mat-form-field class="example-full-width">
      <input
      type="text"
      matInput
      name="username_email"
      formControlName="username_email"
      placeholder="User Name or Email">
      <mat-error *ngIf="form.get('username_email').touched && form.get('username_email').invalid"> Please provide a valid User name or Email!</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input
        type="password"
        matInput
        name="password"
        formControlName="password"
        placeholder="Password">
      <mat-error *ngIf="form.get('password').touched && form.get('password').invalid"> Please provide a valid password!</mat-error>
    </mat-form-field>
    <br>
    <button type="submit"
    color = "accent"
    mat-raised-button>Login</button>
  </form>
</mat-card>

