mat-spinner {
  margin: auto;
}
mat-card {
  width: 90%;
  margin: auto;
}

.map-side-bar {
  position: absolute;
  top: 4rem;
  left: 0;
  right: 0;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
  margin-top: 5px;
  height: 89%;
}
.map-container {
  position: absolute;
  top: 4rem;
  left: 25%;
  right: 0;
  bottom: 0;
  margin: 1px;
  margin-top: 5px;
  margin-bottom: 5px;

}

.add-item {
  z-index: 1001; /* leaflet map uses z-index of 1000, to make something on top of the map, it must be >= 1001 */
  margin: 10px;
}

.add_slid_toggle {
  position: relative;
  z-index: 2001; /* leaflet map uses z-index of 1000, to make something on top of the map, it must be >= 1001 */
  margin: 0 10px;
}

.top-overlay {
  position: relative;
  margin: 5px;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 100px;
  height: 50%;

}
.mat-icon {
  vertical-align: middle;
}

::ng-deep .mat-slide-toggle:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgba(0, 0, 0, 0.6);
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #ff4081;
}

::ng-deep .mat-slide-toggle:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #3f51b5;
}

::ng-deep .leaflet-control-geosearch {
  position: absolute;
  top: -5px;
  left: 25%;
}

::ng-deep .leaflet-geosearch-bar {
  width: 50%;
}

.slider-contianer {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 35%;
  z-index: 1001;
  width: 70%;
  margin: auto;
}

.slider-date {
  margin-left: 5px;
}

mat-slider {
  width: 90%;
}

/* .leaflet-bottom,
.leaflet-left{
  pointer-events: auto;
} */

.map-frame {
  height: 100%;
}

#map {
  height: 100%;
}

mat-card {
  width: 80%;
  margin: auto;
}

.side-item {
  width: 98%;
  display: block;
  /* background-color: #edd;
  border: 1px solid #dcc; */
  background-color: #e4e6f1;
  margin-bottom: 5px;
}

.side-inner-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;

}

.example-card {
  background-color: #3f51b5 !important;
}
