<div *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<div class="map-side-bar" *ngIf="!isLoading && mapLoaded">
  <div class="side-item" *ngFor="let item of items">
    <div class="side-inner-item">
      <h4>{{item.created_by}}</h4>
      <h3><span><mat-icon>location_on</mat-icon></span>{{item.location}}</h3>
    </div>
    <div class="side-inner-item">
      <h3>[{{item.subject}}]</h3>
      <h5>{{item.created_at | dateAgo}}</h5>
    </div>
    <!-- <div class="side-inner-item">
      <h3>&nbsp;</h3>
      <h5>{{item.created_at | dateAgo}}</h5>
    </div> -->
  </div>
</div>
<div class="map-container">
  <div class="map-frame">
    <div id="map">
      <div class="top-overlay" *ngIf="!isLoading">
        <button mat-raised-button color="accent" (click) = "onCreateItem()"  *ngIf="!isLoading && mapLoaded">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
        <mat-slide-toggle name="category-toggle" (change)="onSlideToggle($event)"></mat-slide-toggle>
        <p>&nbsp;</p>
      </div>
      <div
        class="slider-contianer"
        *ngIf="!isLoading"
        (mouseenter) = "DisableMapDragging()"
        (mouseleave) = "EnableMapDragging()"
      >
        <mat-slider
          class="example-margin"
          [disabled]="disabled"
          [invert]="invert"
          [max]="max"
          [min]="min"
          [step]="step"
          [thumbLabel]="thumbLabel"
          [tickInterval]="tickInterval"
          [(ngModel)]="value"
          [vertical]="vertical"
          (change)="onSliderChange($event)"
        >
        <!-- <span class="mat-slider-thumb-label-text">{{displayText}}</span> -->
      </mat-slider>

        <h5 class="slider-date">{{sliderStepsDate}}</h5>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!isLoading && !mapLoaded">
  <h3>Error occured in loading the map, please check your network connection</h3>
</div>
