<div *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<!-- Side bar for displaying items -->
<div class="map-side-bar" *ngIf="!isLoading && mapLoaded">
  <div style="width: 100%; text-align: center;" *ngIf="!items || (items.length === 0 && !isLoading)">
    <mat-card>No Item to Display</mat-card>
  </div>
  <div class="side-item" *ngFor="let item of items">
     <mat-card>
       <div class="side-inner-item">
         <h4>{{item.created_by}}</h4>
         <h4><span><mat-icon>location_on</mat-icon></span>{{add3Dots(item.location)}}</h4>
       </div>
       <div class="side-inner-item">
         <h3>[{{item.subject}}]</h3>
         <h5>{{item.created_at | dateAgo}}</h5>
       </div>
       <mat-divider *ngIf="item.created_by === getUser()"></mat-divider>
       <mat-action-row *ngIf="item.created_by === getUser()">
         <button class="sidebar-button" mat-raised-button color="primary" (click) = "onEditItem($event, item.id)"  >Edit</button>
         <button class="sidebar-button" mat-raised-button color="warn" (click) = "onDeleteItem(item.id)">Delete</button>
       </mat-action-row>
     </mat-card>
  </div>
</div>
<div class="map-container">
  <div class="map-frame">
    <div id="map">
      <div class="top-overlay" *ngIf="!isLoading">
        <!-- Create New Item Button -->
        <button mat-raised-button color="accent" [disabled] = "dialogOpened" (click) = "onCreateItem($event)"  *ngIf="!isLoading && mapLoaded">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
        <!-- Category Toggle -->
        <mat-slide-toggle name="category-toggle" [checked] = "isChecked" [disabled] = "dialogOpened" (change)="onSlideToggle($event)"></mat-slide-toggle>
      </div>
      <div
        class="slider-contianer"
        *ngIf="!isLoading"
        (mouseenter) = "DisableMapDragging()"
        (mouseleave) = "EnableMapDragging()"
      >
      <!-- Slider used for get items from the server -->
        <mat-slider
          class="example-margin"
          [disabled]="dialogOpened"
          [invert]="invert"
          [max]="max"
          [min]="min"
          [step]="step"
          [thumbLabel]="thumbLabel"
          [tickInterval]="tickInterval"
          [(ngModel)]="value"
          [vertical]="vertical"
          (change)="onSliderChange($event)"
        >
        </mat-slider>
        <h5 class="slider-date">{{sliderStepsDate}}</h5> <!-- Showing date based on the slider steps-->
      </div>
    </div>
  </div>
</div>

<div *ngIf="!isLoading && !mapLoaded">
  <h3>Error occured in loading the map, please check your network connection</h3>
</div>
